@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800&display=swap');

$typography-font-family: 'Inter', sans-serif !default;

$primary: #2755e1;
$secondary: #f6f8f9;
$accent: #0d1821;
$dark: #1d1d1d;
$info: #1963d1;
$positive: #2dcd98;
$negative: #f65a79;
$warning: #f2c037;
$grey: #8083a3;
$grey-light: #f5f5fa;
$black: #171721;
